.carrossel-titulo{
    background-color: white;
    color: orange;
    text-align: center;
    padding: 1em 2em;
    font-size: 25px ;
}
.swiper-slide img {
    width: 100%;

}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{

    position: initial;
    margin: 0.5em 0 ;
}
.card-descrição{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.card-botões{
    display: flex;
    justify-content:space-between;
}
.descrição-imagem{
    height: 50%;
    width: 50%;
    
}
.botões{
    display: flex;
}
.card{
background-color: white;
box-shadow: 0px 4px 4px black;
border-radius: 10px;
margin: 1em;
padding: 1em;
}
.decrição-titulo{
    color:orange;

}
.descrição-piscina{
    color: rgb(7, 7, 104);
    font-size: 18px;
    margin: 1em 0;
}
.descriçã-texto{
    font-size: 14px;
    color:red;
}
.botões-item{
    margin: 0 0.5em;
}
.botões-ancora{
    display: flex;
    background-color: orange;
    padding: 1em 2.2em;
    color: white;

}